<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mi Perfil</title>
  <link href="/static/user/style.css" rel="stylesheet" />
</head>
<body>
<div class="topnav">
  <a class="active" href="/user/{{id}}">Perfil</a>
  <div class="topnav-right">
	<a href="/user/seguidores/{{id}}">Seguidores</a>
	<a href="/user/publicar/{{id}}">Publicar</a>
  </div>
</div>
  <ul>
  {% for post in posts %}
  <li>
  <h3>{{post.body}}</h3>
	<h4>Fecha:{{post.created_at}} Likes:{{post.likes}}</h4>
  </li>
  {% endfor %}
  </ul>
</body>
</html>
